/*
Tamplete Name:  E-mail Template.
Author Name:  Anik Islam
Version: 1.0.0
*/


/* CSS VARIABLES */
:root{
    --white-color: #FFF;
    --black-color: #000;
    --upper-bg: #0F101D;
    --nav-menu-bg: #3A3C4B;
    --border-bottom:#3A3C4B;
    --hero-heading: #F54B15;
    --light-white: #ECECEC;
    --gray: #B4B4B4;
    --service-text: #0F101D;
    --light-black: #31323D;
    --linear-btn: #FB822F;
    --linear-btn-2:#3C93F0;
}

body{
    font-family:'Space Grotesk', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 500px;
}
/* basic set up */

h1{
    font-size: 48px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 26px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}
/* img{
    max-width: 100%;
    margin: 0;
    padding: 0;
} */


/* HEADER SECTION START */
.upper-section{

}
.upper-row{
    display: flex;
    justify-content: space-between;
    background-color: var(--upper-bg);
    padding: 23px 60px 25px 60px;
}
.upper-section .icons{
    display: flex;
    gap: 20px;
}
/* .nav-menu{
    
    text-align: center;
} */
.nav-menu {
    background-color: var(--nav-menu-bg);
    padding: 20px;
    border-bottom: 1px solid var(--upper-bg);
}
.nav-menu nav ul{ 
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-menu nav ul li{
    list-style: none;
}
.nav-menu nav ul a{
    text-decoration: none;
    padding: 20px 62px;
    align-items: center;
    font-size: 18px;
    color: var(--white-color);
}
/* HEADER SECTION END */



/* HERO SECTION START */
.hero-section{
    position: relative;
    z-index: 9999;
    overflow: hidden;
    box-sizing: border-box;
}
.hero-content{
    background-color: var(--upper-bg);
    padding: 50px 75px 0 75px;
}
.hero-content .hero-detail{
    text-align: center;
}
.hero-content h6{
    color: var(--hero-heading);
    margin-bottom: 15px;
    font-weight: 700;
}
.hero-content h2{
    color: var(--light-white);
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-content p{
    color: var(--gray);
    font-size: 18px;
}
.hero-content img{
    width: 428px;
    height: 270px;
    display: block;
    margin: 0 auto;
    border-radius: 21px 21px 0 0;
    margin-top: 35px;
    padding-bottom: 5px;
}
.shapes-2{
    position: absolute;
    top: 210px;
}
.shapes-3 {
    position: absolute;
    top: 370px;
    /* right: 0; */
    margin-left: 717px;
    transform: rotate(180deg);
}
/* .hero-shape{
    position: absolute;
    z-index: 999;
    width: 300px;
} */
/* HERO SECTION END */


/* SERVICE SECTION START */
.service-section{

}
.service-top{
    text-align: center;
    background-color: var(--light-white);
    padding: 80px 170px;
}
.service-text{
    margin-bottom: 30px;
}
.service-text h3{
    color: var(--service-text);
    margin-bottom: 20px;
    font-weight: 700px;
}
.service-row{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}
.service-content .s-icon{
    background-color: var(--hero-heading);
    height: 66px;
    width: 66px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
/* SERVICE SECTION END */


/* ABOUT SECTION START */
.about-section{
}
.about-content{
    background-color: var(--upper-bg);

}
.about-row{
    display: flex;
    gap: 40px;
    padding: 90px 60px 90px 60px;
}
.about-left img{
    width: 285px;
    height: 316px;
    border-radius: 15px;
}
.about-right h3{
    color: var(--light-white);
    margin-bottom: 15px;
}
.about-right{
    align-self: center;
}
.about-right p{
    color: var(--gray);
    line-height: 25px;
}
.about-right .ar-content{
    display: flex;
    align-items: center;
}
.about-right img{
    width: 67px;
    height: 67px;
    margin-right: 20px;
}
.ar-content{
    margin-top: 38px;
}
.ar-content h6{
    color: var(--light-white);
    font-weight: 700;
}
.ar-content P{
    font-size: 16px;
    margin-top: 5px;
}
/* ABOUT SECTION END */


/* PRICING SECTION START */
.pricing-section{
}
.pricing-content{
    background-color: var(--gray);
}
.pricing-content h3{
    color: var(--black-color);
    text-align: center;
    font-weight: 700;
    padding-top: 90px;
}
.pricing-blocks{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    position: relative;
}
.pricing-area {
    background-color: var(--light-white);
    width: 226px;
    text-align: center;
    padding: 60px 25px 35px 25px;
    margin-top: 45px;   
}
.pricing-area h5{
    font-weight: 700;
}
.pricing-area .sub{
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.pricing-area h1{
    color: var(--upper-bg);
    font-weight: 700;
    margin-bottom: 12px;
}
.pricing-area .detail{
    font-size: 16px;
    color: var(--light-black);
    font-weight: 400;
    margin-bottom: 30px;
}
.pricing-area a{
    background: var(--linear-btn);
    padding: 12px 27px 12px 27px;
    text-decoration: none;
    color: var(--light-white);
    font-weight: 500;
}
.pricing-blocks .first{
    border-radius: 25px 0 0 0;
}
.pricing-blocks .third{
    border-radius: 0 25px 0 0;
}
.pricing-blocks .second{
    background-color: var(--white-color);
    
}
.pricing-blocks .color{
    background-color: var(--linear-btn-2);
}
.pricing-section .icons{
    background-color: var(--linear-btn-2);
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 432px;
    margin-top: 140px;
    z-index: 99999;
    
}
/* PRICING SECTION END */